{% extends "base.html.twig" %}

{% block body %}
    <p>le résultat du calcul {{ a }} + {{ b }} est {{ result }} </p>
    <p> Le résultat du calcul {{ a ~ " + " ~ b ~ " est égal à " ~ result }} </p>
{% endblock %}