{% extends "base.html.twig" %}

{% block body %}
<h2>Afficher le contenu d'un tableau</h2>
<p>Nom: {{tableau.nom}} </p>
<p>prenom: {{tableau.prenom}} </p>

<p>Pour accéder à une valeur d'un tableau associatif ou à la propriété d'un objet, j'utilise le <mark>.</mark> dans Twig </p>


{% endblock %}